* {
    box-sizing: border-box;
}

body {
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    flex-direction: column;
    overflow: hidden;
    background-color: olivedrab;
}

button {
    background-color: purple;
    color: #fff;
    padding: 20px 60px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    overflow: hidden;
    position: relative;
}

button:focus {
    outline: none;
}

.circle {
    height: 100px;
    width: 100px;
    background-color: plum;
    position: absolute;
    border-radius: 50%;
    transform: translate(-50%, -50%) scale(0);

    animation: scale 0.5s ease-out;
}

@keyframes scale{
    to{
        transform: translate(-50%, -50%) scale(3);
        opacity: 0;
    }
}