:root {
    --fill-color: #3498db;
    --empty-color: #e0e0e0;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    flex-direction: column;
    background-color: #f3f3f3;
}

.container {
    text-align: center;

}

.progress-container {
    display: flex;
    justify-content: space-between;
    position: relative;
    margin-bottom: 30px;
    max-width: 100%;
    width: 300px;

}

.progress-container::before {
    content: '';
    width: 100%;
    background-color: var(--empty-color);
    height: 4px;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    z-index: -1;
}

.progress {
    width: 0%;
    background-color: var(--fill-color);
    height: 4px;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    z-index: -1;
    transition: 0.4s ease;
}

.circle {
    background-color: #fff;
    color: #999;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 3px solid var(--empty-color);
}

.circle.active {
    border-color: var(--fill-color);
}

.btn {
    padding: 8px 30px;
    border: 0;
    background: var(--fill-color);
    border-radius: 6px;
    color: #fff;
    font-size: 14px;
    margin: 5px;
    cursor: pointer;

}
.btn:active{
    transform: scale(0.98);
}
.btn:focus{
outline: 0;
}
.btn:disabled{
    background: var(--empty-color);
    cursor: not-allowed;
}