* {
    box-sizing: border-box;
}

body {
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    background-color: steelblue;
}

.empty {
    height: 150px;
    width: 150px;
    background-color: #fff;
    margin: 15px;
    border: solid 3px #000;
}

.filled {
    background-image: url('http://source.unsplash.com/random/150x150');
    height: 145px;
    width: 145px;
    cursor: pointer;
}

.hovered{
    background-color: #333;
    border-color: #fff;
    border-style: dashed;
}

.hold{
    border: 3px solid #eee;
}
@media(max-width:800px) {
    body {
        flex-direction: column;
    }
}