* {
    box-sizing: border-box;
}

body {
    background-color: #e98686e7;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    background-color: rgba(255, 182, 193, 0.1);
}

img {
    width: 150px;
}

.btn {
    border: none;
    background-color: transparent;
    font-size: 20px;
    cursor: pointer;
}

.open-btn {
    position: fixed;
    top: 10px;
    left: 10px;
}

.nav {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    transform: translateX(-100%);
    transition: transform .3s ease-in-out;
}

.visible {
    transform: translateX(0);
}

.nav-black {
    background-color: #000;
    width: 60%;
    max-width: 480px;
    min-width: 360px;
    transition-delay: .4s;
}

.nav-black.visible {
    transition-delay: 0s;
}

.nav-red {
    background-color: tomato;
    width: 95%;
    transition-delay: .2s;
}

.nav-red.visible {
    transition-delay: 0s;
}

.nav-white {
    background-color: white;
    width: 95%;
    position: relative;
    padding: 40px;
    transition-delay: 0s;
}

.nav-white.visible {
    transition-delay: .4s;
}

.close-btn {
    position: absolute;
    top: 40px;
    right: 30px;
    opacity: 0.3;
}

.list {
    list-style-type: none;
    padding: 0;
}

.list li {
    margin: 20px 0;
}

.list ul {
    list-style-type: none;
    margin-left: -20px;
}

.list li a {
    text-decoration: none;
    color: #000;
    font-size: 14px;
    text-transform: uppercase;

}